body {
    background-color: #000;
}

button {
    background-color: #fff;
}

.canvas_class {
    width: 800px;
    height: 500px;
    border: 10px solid #333;
    background-color: #fff;
    margin: auto;
    
}